* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-red: #be3144;
    --main-white: #f0f0f0;
    --main-blue: #45567d;
    --main-gray: #303841;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-red);
    position: fixed;
    width: 100vw;
    padding-right: 20px;
}

.navbar-contents {
    display: flex;
    gap: 10px;
}

.nav-links {
    padding: 10px;
    color: var(--main-white);
    font-size: 2rem;
    text-decoration: none;
    font-style: none;
    list-style: none;
}

.nav-links:hover {
    background-color: var(--main-gray);
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-gray);
}

.hero-title {
    color: var(--main-white);
    font-size: 3.75rem;
}

.hero-container p{
    color: #be3144;
    font-size: 2rem;
}

/* work section */

.work-container {
    background-color: var(--main-blue);
    width: 100vw;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.work-title {
    padding-top: 90px;
    padding-bottom: 10px;
    max-width: 400px;
    font-weight: 700;
    font-size: 2.4rem;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--main-white);
    margin: 0 auto 20px auto;
    color: var(--main-white);
}

.grid-container {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: calc(100% - 60px); /* 30px padding on each side */
    margin: 0 auto;
    margin-bottom: 6rem;
    box-sizing: border-box;
}

.work-link {
    font-size: 2rem;
    background-color: var(--main-gray);
    color: var(--main-white);
    text-decoration: none;
    padding: 15px;
}

.work-image {
    height: 280px;
    width: 100%;
    object-fit: cover;
}

.work-link:hover{
    background-color: var(--main-red);
    transition: .5s;
}